// 1 --- Flex Mixin
@mixin flex($direction, $wrap, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// 2 --- Grid Mixin
@mixin grid($width, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
  gap: $gap;
}

// 3 --- Animation Mixin
@mixin animation($name, $time, $delay) {
  animation: $name $time $delay;
  @keyframes #{$name} {
    @content;
  }
}

// 4 --- Transition Mixin
@mixin transition($transition: 0.3s) {
  transition: $transition linear;
}